@page
@model RazorPizzaTime.Pages.Checkout.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    var imagePath = "~/images/Pizzas/"+ (@Model.ImageTitle +".png");
}
<h1 class="text-center"><b>Chekout</b></h1>
<h2 class="text-capitalize">Your Order</h2>
<div class="container">
    <div cclass="row">
        <div class="col-4 mb-4 rounded" style="background-color:whitesmoke">
            <img src=@imagePath  class="w-100 imgSize" asp-append-version="true" />
            <p>Your order for <strong>@Model.CustomPizzaName</strong> Pizza is ready!</p>
            

        </div>
        <p>Total Price is: <strong>@Model.PizzaPrice</strong>$</p><br />
    </div>
</div>
<a class="btn-order" asp-area="" asp-page="/Menu">Order More</a>
<a class="btn-order" asp-area="" asp-page="/Checkout/OrderConfirmation">Confirm</a>
