@page
@model RazorPizzaTime.Pages.Checkout.OrderConfirmationModel
@{
    ViewData["Title"] = "Thank You";
}

<h1 class="text-capitalize"><b>Thank You for Your order<br /></b></h1>
<h2 class="text-capitalize">Your oreder is confirmed</h2>
<a class="nav-link text-secondary" asp-area="" asp-page="/Menu">Back To Menu</a>