@page
@model RazorPizzaTime.Pages.Forms.CustomPizzaModel
@{
    ViewData["Title"] = "Customization";
}
<h1 class="text-center"><b>Choose ingredients</b></h1>


<div class="text-center container">
    <form method="post" class="mx-auto mb-5 mt-5 px-5 bg-color1 rounded-3 col-3">
        <input type="text" id="input" class="mt-3 mb-3 Input-text" asp-for="Customed.CustomPizzaName" placeholder="Name your pizza.."/><br />
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.TomatoSauce" id="tomato-sauce">
            <label for="tomato-sauce">Tomato Sauce</label>
          </div>
        </div>
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.Cheese" id="cheese">
            <label for="cheese">Cheese</label>
          </div>
        </div>
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.Chilli" id="chilli">
            <label for="chilli">Chilli</label>
          </div>
        </div>
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.Tuna" id="tuna">
            <label for="tuna">Tuna</label>
          </div>
        </div>
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.PineApple" id="pineapple">
            <label for="pineapple">PineApple</label>
          </div>
        </div>
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.Beef" id="beef">
            <label for="beef">Beef</label>
          </div>
        </div>
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.Peperoni" id="peperoni">
            <label for="peperoni">Peperoni</label>
          </div>
        </div>
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.Mushroom" id="mushroom">
            <label for="mushroom">Mushrooms</label>
          </div>
        </div>
        <div class="item">
          <div class="checkbox-circle mt-1 mb-1">
            <input type="checkbox"  asp-for="Customed.Chicken" id="chicken">
            <label for="chicken">Chicken</label>
          </div>
        </div>
        
        <button class="btn btn-order mt-4 mb-4" type="submit">Order it</button>
    </form>
</div>